<mat-card>
  <mat-card-title>Gerar Partidas do Torneio</mat-card-title>

  <form [formGroup]="form">
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Torneio</mat-label>
      <mat-select name="torneio" formControlName="torneio">
        <mat-option *ngFor="let torneio of torneios" [value]="torneio">
          {{ torneio.nome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('torneio')?.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label style="color: white"> Data </mat-label>
      <input
        matInput
        name="data"
        placeholder="yyyy-mm-dd"
        style="color: rgb(255, 255, 255)"
        formControlName="data"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label style="color: white"> Hora </mat-label>
      <input
        matInput
        name="hora"
        placeholder="HH:mm"
        style="color: rgb(255, 255, 255)"
        formControlName="hora"
      />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="cancel()" class="cancelar">
    Cancelar
  </button>
  <button mat-raised-button (click)="save()">Gerar</button>
</mat-card>
