<button
  mat-raised-button
  (click)="navigateToPerfilCreate()"
  class="bt-create"
  *ngIf="checkRole(['admin'])"
>
  Novo Perfil
</button>

<button
  mat-raised-button
  (click)="navigateToPerfilRoleJogadorCreate()"
  class="bt-create"
  *ngIf="checkRole(['jogador'])"
>
  Novo Perfil
</button>

<button
  mat-raised-button
  (click)="navigateToPerfilEditRoleJogador()"
  class="bt-create"
  *ngIf="checkRole(['jogador'])"
>
  Editar um de seus Perfis
</button>

<div class="container-table mat-elevation-z4">
  <div [formGroup]="form" >
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Pesquisar</mat-label>
      <input
        type="search"
        matInput
        name="search"
        placeholder="Pesquisar..."
        formControlName="search"
      />
    </mat-form-field>
  </div>

  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner> </mat-spinner>
  </div>
  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef>Nickname</th>
      <td mat-cell *matCellDef="let row">{{ row.nickname }}</td>
    </ng-container>

    <ng-container matColumnDef="jogo">
      <th mat-header-cell *matHeaderCellDef>Jogo</th>
      <td mat-cell *matCellDef="let row">{{ row.jogo.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="jogador">
      <th mat-header-cell *matHeaderCellDef>Jogador</th>
      <td mat-cell *matCellDef="let row">{{ row.jogador.nickname }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/perfil/{{row.id}}/edit" class="edit">
          <i *ngIf="checkRole(['admin'])" class="material-icons">edit</i>
        </a>
        <a href="javascript:void(0)"
        (click)="openDeleteDialog(row)"
        class="delete">
          <i *ngIf="checkRole(['admin'])" class="material-icons">delete</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="resultsLength"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
  >
  </mat-paginator>
</div>
