:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}




.mat-form-field{
    color: white;
}

mat-card{
    background-color: rgb(78, 3, 107);
}

.mat-form-field{
    width: 100%;
    min-width: 300px;
    color: white;
    
}

mat-card-title, mat-card-component{
    display: flex;
    justify-content: center;
}

.button{
    margin-right: 15px;
    display: flex;
    justify-content: end;
}

.logo{
    max-height: 150px;
}

.logo:hover{
    scale: 1.5;
}